.names {
	background-color: #7f8082;
	color: #cfd3dd;
}
.blue {
	background-color: #00deff;
}
.yellow {
	background-color: #eaff00;
}
.blue_one {
	background-color: #00deff;
	text-align: center;
}
.name {
	text-align: left;
}